In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import GridSearchCV

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/30-days-of-ml/sample_submission.csv
/kaggle/input/30-days-of-ml/train.csv
/kaggle/input/30-days-of-ml/test.csv

In [2]:
train=pd.read_csv('/kaggle/input/30-days-of-ml/train.csv',index_col='id')
test=pd.read_csv('/kaggle/input/30-days-of-ml/test.csv',index_col='id')

In [3]:
train.head(10)

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
id,,,,,,,,,,,,,,,,,,,,,
1,B,B,B,C,B,B,A,E,C,N,...,0.400361,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850,8.113634
2,B,B,A,A,B,D,A,F,A,O,...,0.533087,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083,8.481233
3,A,A,A,C,B,D,A,D,A,F,...,0.650609,0.375348,0.902567,0.555205,0.843531,0.748809,0.620126,0.541474,0.763846,8.364351
4,B,B,A,C,B,D,A,E,C,K,...,0.668980,0.239061,0.732948,0.679618,0.574844,0.346010,0.714610,0.540150,0.280682,8.049253
6,A,A,A,C,B,D,A,E,A,N,...,0.686964,0.420667,0.648182,0.684501,0.956692,1.000773,0.776742,0.625849,0.250823,7.972260
7,A,B,A,C,B,D,A,E,G,F,...,0.392432,0.658169,0.997473,0.569874,0.960864,0.238050,0.316065,0.731729,0.694719,8.028558
8,B,A,A,A,B,D,A,E,C,F,...,0.396705,0.273454,0.824573,0.656325,0.677114,0.808445,0.615973,0.631677,0.283561,7.811465
9,A,A,A,C,B,B,A,E,A,M,...,0.633353,0.339760,0.802006,1.010997,0.391221,0.057297,0.591120,0.074629,0.775869,7.674188
10,A,B,A,C,B,D,A,E,G,I,...,0.472564,0.414036,0.809142,1.013301,0.761183,1.041711,0.393960,0.782381,0.865610,8.090095
11,A,A,A,A,B,B,A,E,E,M,...,0.425716,0.233705,0.493036,0.353048,0.334675,0.085087,0.230634,0.636732,0.291874,8.446155

In [4]:
train.describe()

,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,0.527335,0.460926,0.490498,0.496689,0.491654,0.510526,0.467476,0.537119,0.498456,0.474872,0.474492,0.473216,0.494561,0.508273,8.241979
std,0.230599,0.214003,0.253346,0.219199,0.240074,0.228232,0.210331,0.218140,0.239920,0.218007,0.255949,0.222022,0.247292,0.222950,0.746555
min,-0.118039,-0.069309,-0.056104,0.130676,0.255908,0.045915,-0.224689,0.203763,-0.260275,0.117896,0.048732,0.052608,-0.074208,0.151050,0.140329
25%,0.405965,0.310494,0.300604,0.329783,0.284188,0.354141,0.342873,0.355825,0.332486,0.306874,0.276017,0.308151,0.289074,0.300669,7.742071
50%,0.497053,0.427903,0.502462,0.465026,0.390470,0.488865,0.429383,0.504661,0.439151,0.434620,0.459975,0.433812,0.422887,0.472400,8.191373
75%,0.668060,0.615113,0.647512,0.664451,0.696599,0.669625,0.573383,0.703441,0.606056,0.614333,0.691579,0.642057,0.714502,0.758447,8.728634
max,1.058443,0.887253,1.034704,1.039560,1.055424,1.067649,1.111552,1.032837,1.040229,0.982922,1.055960,1.071444,0.975035,0.905992,10.411992

In [5]:
test.describe()

,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,0.526858,0.460882,0.491686,0.496263,0.492200,0.509944,0.468050,0.537617,0.497587,0.474630,0.473625,0.473589,0.492756,0.508303
std,0.230506,0.213896,0.252852,0.219304,0.240251,0.228100,0.210167,0.218197,0.239337,0.217558,0.255307,0.221844,0.247105,0.222977
min,-0.117993,-0.069316,-0.056095,0.130655,0.255903,0.045921,-0.224613,0.203763,-0.260236,0.117894,0.048734,0.052615,-0.074201,0.151052
25%,0.405787,0.310536,0.302189,0.328865,0.284188,0.353682,0.342813,0.356482,0.332762,0.306940,0.274991,0.308495,0.288094,0.300697
50%,0.496602,0.427656,0.503075,0.464590,0.395080,0.488378,0.429819,0.505216,0.438716,0.434610,0.460042,0.433857,0.422065,0.472446
75%,0.666389,0.615041,0.648234,0.663401,0.697252,0.668586,0.573861,0.703289,0.605368,0.610768,0.690143,0.642201,0.711038,0.758496
max,1.058434,0.887253,1.034687,1.039558,1.055423,1.067641,1.111540,1.032823,1.040208,0.982928,1.055955,1.071445,0.975032,0.906013

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 1 to 499999
Data columns (total 25 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   cat0    300000 non-null  object
 1   cat1    300000 non-null  object
 2   cat2    300000 non-null  object
 3   cat3    300000 non-null  object
 4   cat4    300000 non-null  object
 5   cat5    300000 non-null  object
 6   cat6    300000 non-null  object
 7   cat7    300000 non-null  object
 8   cat8    300000 non-null  object
 9   cat9    300000 non-null  object
 10  cont0   300000 non-null  float64
 11  cont1   300000 non-null  float64
 12  cont2   300000 non-null  float64
 13  cont3   300000 non-null  float64
 14  cont4   300000 non-null  float64
 15  cont5   300000 non-null  float64
 16  cont6   300000 non-null  float64
 17  cont7   300000 non-null  float64
 18  cont8   300000 non-null  float64
 19  cont9   300000 non-null  float64
 20  cont10  300000 non-null  float64
 21  cont11  300000 non-null  float64
 22  cont12  300000 non-null  float64
 23  cont13  300000 non-null  float64
 24  target  300000 non-null  float64
dtypes: float64(15), object(10)
memory usage: 59.5+ MB

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 499995
Data columns (total 24 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   cat0    200000 non-null  object
 1   cat1    200000 non-null  object
 2   cat2    200000 non-null  object
 3   cat3    200000 non-null  object
 4   cat4    200000 non-null  object
 5   cat5    200000 non-null  object
 6   cat6    200000 non-null  object
 7   cat7    200000 non-null  object
 8   cat8    200000 non-null  object
 9   cat9    200000 non-null  object
 10  cont0   200000 non-null  float64
 11  cont1   200000 non-null  float64
 12  cont2   200000 non-null  float64
 13  cont3   200000 non-null  float64
 14  cont4   200000 non-null  float64
 15  cont5   200000 non-null  float64
 16  cont6   200000 non-null  float64
 17  cont7   200000 non-null  float64
 18  cont8   200000 non-null  float64
 19  cont9   200000 non-null  float64
 20  cont10  200000 non-null  float64
 21  cont11  200000 non-null  float64
 22  cont12  200000 non-null  float64
 23  cont13  200000 non-null  float64
dtypes: float64(14), object(10)
memory usage: 38.1+ MB

In [8]:
train.isnull().sum()

cat0      0
cat1      0
cat2      0
cat3      0
cat4      0
cat5      0
cat6      0
cat7      0
cat8      0
cat9      0
cont0     0
cont1     0
cont2     0
cont3     0
cont4     0
cont5     0
cont6     0
cont7     0
cont8     0
cont9     0
cont10    0
cont11    0
cont12    0
cont13    0
target    0
dtype: int64

In [9]:
train[train.duplicated()]

Empty DataFrame
Columns: [cat0, cat1, cat2, cat3, cat4, cat5, cat6, cat7, cat8, cat9, cont0, cont1, cont2, cont3, cont4, cont5, cont6, cont7, cont8, cont9, cont10, cont11, cont12, cont13, target]
Index: []

[0 rows x 25 columns]

In [10]:
test.isnull().sum()

cat0      0
cat1      0
cat2      0
cat3      0
cat4      0
cat5      0
cat6      0
cat7      0
cat8      0
cat9      0
cont0     0
cont1     0
cont2     0
cont3     0
cont4     0
cont5     0
cont6     0
cont7     0
cont8     0
cont9     0
cont10    0
cont11    0
cont12    0
cont13    0
dtype: int64

In [11]:
test[test.duplicated()]

Empty DataFrame
Columns: [cat0, cat1, cat2, cat3, cat4, cat5, cat6, cat7, cat8, cat9, cont0, cont1, cont2, cont3, cont4, cont5, cont6, cont7, cont8, cont9, cont10, cont11, cont12, cont13]
Index: []

[0 rows x 24 columns]

In [12]:
train.columns

Index(['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8',
       'cat9', 'cont0', 'cont1', 'cont2', 'cont3', 'cont4', 'cont5', 'cont6',
       'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12', 'cont13',
       'target'],
      dtype='object')

In [13]:
columns=['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8','cat9']
for x in columns:
    print(x)
    print(train[x].value_counts())

cat0
A    193130
B    106870
Name: cat0, dtype: int64
cat1
A    154824
B    145176
Name: cat1, dtype: int64
cat2
A    253886
B     46114
Name: cat2, dtype: int64
cat3
C    263356
A     31726
D      4328
B       590
Name: cat3, dtype: int64
cat4
B    294737
A      2978
C      1772
D       513
Name: cat4, dtype: int64
cat5
B    149340
D    126137
C     20248
A      4275
Name: cat5, dtype: int64
cat6
A    290511
B      8018
C       928
D       292
I       136
H        56
E        45
G        14
Name: cat6, dtype: int64
cat7
E    276040
D     12144
B      8297
G      2870
F       562
C        36
A        31
I        20
Name: cat7, dtype: int64
cat8
C    111103
E     79844
A     76585
G     26128
D      5187
F       966
B       187
Name: cat8, dtype: int64
cat9
F    71249
I    59218
G    28253
L    20958
H    19925
K    18057
N    16704
B    14477
J    14266
O    14203
A    11029
M     7931
C     1603
D     1088
E     1039
Name: cat9, dtype: int64

In [14]:
for x in columns:
    print(x)
    print(test[x].value_counts())

cat0
A    128830
B     71170
Name: cat0, dtype: int64
cat1
A    103174
B     96826
Name: cat1, dtype: int64
cat2
A    169377
B     30623
Name: cat2, dtype: int64
cat3
C    175480
A     21317
D      2815
B       388
Name: cat3, dtype: int64
cat4
B    196535
A      1919
C      1174
D       372
Name: cat4, dtype: int64
cat5
B    100175
D     83641
C     13380
A      2804
Name: cat5, dtype: int64
cat6
A    193519
B      5520
C       593
D       198
I        92
H        34
E        34
G        10
Name: cat6, dtype: int64
cat7
E    183796
D      8294
B      5572
G      1910
F       372
C        32
A        20
I         4
Name: cat7, dtype: int64
cat8
C    74310
E    53526
A    50721
G    17373
D     3317
F      648
B      105
Name: cat8, dtype: int64
cat9
F    46984
I    39478
G    18636
L    13878
H    13762
K    12349
N    11338
B     9632
O     9425
J     9381
A     7440
M     5157
C     1091
D      743
E      706
Name: cat9, dtype: int64

In [15]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()

train[columns]=ordinal_encoder.fit_transform(train[columns])
test[columns]=ordinal_encoder.transform(test[columns])
train.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
id,,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,2.0,1.0,1.0,0.0,4.0,2.0,13.0,...,0.400361,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850,8.113634
2,1.0,1.0,0.0,0.0,1.0,3.0,0.0,5.0,0.0,14.0,...,0.533087,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083,8.481233
3,0.0,0.0,0.0,2.0,1.0,3.0,0.0,3.0,0.0,5.0,...,0.650609,0.375348,0.902567,0.555205,0.843531,0.748809,0.620126,0.541474,0.763846,8.364351
4,1.0,1.0,0.0,2.0,1.0,3.0,0.0,4.0,2.0,10.0,...,0.668980,0.239061,0.732948,0.679618,0.574844,0.346010,0.714610,0.540150,0.280682,8.049253
6,0.0,0.0,0.0,2.0,1.0,3.0,0.0,4.0,0.0,13.0,...,0.686964,0.420667,0.648182,0.684501,0.956692,1.000773,0.776742,0.625849,0.250823,7.972260

In [16]:
train.describe()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,...,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,0.356233,0.483920,0.153713,1.800953,0.999400,1.894157,0.040960,3.897103,2.396427,7.382510,...,0.510526,0.467476,0.537119,0.498456,0.474872,0.474492,0.473216,0.494561,0.508273,8.241979
std,0.478886,0.499742,0.360674,0.632288,0.150576,0.981864,0.280504,0.567165,1.835474,3.419299,...,0.228232,0.210331,0.218140,0.239920,0.218007,0.255949,0.222022,0.247292,0.222950,0.746555
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.045915,-0.224689,0.203763,-0.260275,0.117896,0.048732,0.052608,-0.074208,0.151050,0.140329
25%,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,0.000000,4.000000,0.000000,5.000000,...,0.354141,0.342873,0.355825,0.332486,0.306874,0.276017,0.308151,0.289074,0.300669,7.742071
50%,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,0.000000,4.000000,2.000000,8.000000,...,0.488865,0.429383,0.504661,0.439151,0.434620,0.459975,0.433812,0.422887,0.472400,8.191373
75%,1.000000,1.000000,0.000000,2.000000,1.000000,3.000000,0.000000,4.000000,4.000000,10.000000,...,0.669625,0.573383,0.703441,0.606056,0.614333,0.691579,0.642057,0.714502,0.758447,8.728634
max,1.000000,1.000000,1.000000,3.000000,3.000000,3.000000,7.000000,7.000000,6.000000,14.000000,...,1.067649,1.111552,1.032837,1.040229,0.982922,1.055960,1.071444,0.975035,0.905992,10.411992

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train.loc[:,train.columns!='target'],train['target'], 
                test_size = 0.20, random_state = 0)

In [18]:
X_train.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
id,,,,,,,,,,,,,,,,,,,,,
407007,1.0,0.0,0.0,2.0,1.0,1.0,0.0,4.0,2.0,8.0,...,0.777260,0.440177,0.281643,0.536451,0.388114,0.590686,0.051117,0.178499,0.273700,0.618371
336518,1.0,0.0,0.0,2.0,1.0,3.0,0.0,3.0,0.0,9.0,...,0.275371,0.855124,0.514635,0.560653,0.560340,0.766777,0.726101,0.616842,0.726014,0.755064
243426,0.0,1.0,0.0,3.0,1.0,2.0,0.0,4.0,2.0,8.0,...,0.672171,1.007836,0.549890,1.010262,0.427013,0.463295,0.356544,0.676182,0.837040,0.598273
361368,1.0,0.0,0.0,2.0,1.0,3.0,0.0,4.0,2.0,8.0,...,0.808588,0.777789,0.581776,0.440032,0.421781,0.469313,0.741425,0.322907,0.832317,0.617612
440116,1.0,0.0,0.0,2.0,1.0,2.0,0.0,4.0,0.0,0.0,...,0.740369,0.419157,0.530375,0.627906,0.579637,0.441519,0.648833,0.365968,0.257162,0.273084

In [19]:

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
lr=LinearRegression()
lr.fit(X_train,y_train)
predictions=lr.predict(X_test)
mae=mean_absolute_error(y_test,predictions)
print(mae)
r2=r2_score(y_test,predictions)
print(r2)
mse=mean_squared_error(y_test,predictions,squared=False)
print(mse)

0.5844848107266412
0.01915256920593611
0.736953649364822

In [20]:
from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor()
gbr.fit(X_train,y_train)
predictions=gbr.predict(X_test)
mae=mean_absolute_error(y_test,predictions)
print(mae)
r2=r2_score(y_test,predictions)
print(r2)
mse=mean_squared_error(y_test,predictions,squared=False)
print(mse)

In [21]:
from xgboost import XGBRegressor
xgbr=XGBRegressor(learning_rate=0.1,n_estimators=200,gamma=0.1,use_label_encoder=False)
xgbr.fit(X_train, y_train, 
             early_stopping_rounds=10, 
             eval_set=[(X_test, y_test)], 
             verbose=False)
predictions=xgbr.predict(X_test)
mae=mean_absolute_error(y_test,predictions)
print(mae)
r2=r2_score(y_test,predictions)
print(r2)
mse=mean_squared_error(y_test,predictions,squared=False)
print(mse)

In [22]:
from catboost import CatBoostRegressor
cbr = CatBoostRegressor(random_state=1,loss_function='RMSE',depth=2,learning_rate=0.5,l2_leaf_reg=8,iterations=1000)
cbr.fit(X_train, y_train,eval_set=[(X_test, y_test)],early_stopping_rounds=50,verbose=False)
predictions=cbr.predict(X_test)
mae=mean_absolute_error(y_test,predictions)
print(mae)
r2=r2_score(y_test,predictions)
print(r2)
mse=mean_squared_error(y_test,predictions,squared=False)
print(mse)

0.5718677253943765
0.06885409850855173
0.7180394612586916

In [23]:
from lightgbm import LGBMRegressor
model = LGBMRegressor()
model.fit(X_train,y_train)
predictions=model.predict(X_test)
mae=mean_absolute_error(y_test,predictions)
print(mae)
r2=r2_score(y_test,predictions)
print(r2)
mse=mean_squared_error(y_test,predictions,squared=False)
print(mse)

In [24]:
new_prediction = cbr.predict(test)

# Save the predictions to a CSV file
output = pd.DataFrame({'Id': test.index,
                       'target': new_prediction})
output.to_csv('submission.csv', index=False)